<div class="container complete-form" id="filter-bar">

<%-# [SEARCH] for the search bar by name %>
<%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe" %>
    <% end %>

<%= form_tag recipes_path, method: :get do %>
    <%= collection_select :category, :id, Category.joins(:recipes).distinct, :id, :name,
      class: "form-control",
      prompt: "Choose a category" %>
      <%= submit_tag "Filter"%>
    <% end %>

<%= form_tag recipes_path, method: :get do %>
    <%= collection_select :fooditem, :id, FoodItem.joins(:recipes).distinct, :id, :name,
      class: "form-control",
      prompt: "Choose an ingredient"%>
      <%= submit_tag "Filter"%>
    <% end %>
</div>


