<div class="container complete-form" id="filter-bar">
  <div class="inline-row inline-row-property">
    <div class="filters filter-area">

          <%= form_tag recipes_path, method: :get do %>
            <div class="search-container">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control input-medium-plus ",
                placeholder: "Find A Recipe" %>
                <%= submit_tag "OK", class: "btn btn-filter btn-small btn-ingredient"%>
              </div>
          <% end %>


        <%= form_tag recipes_path, method: :get do %>
          <div class="search-container">
            <%= collection_select(:category, :id, Category.joins(:recipes).order(:name).distinct, :id, :name,
              {:prompt => "All Meal Types"},
              {:class => "form-control input-medium-plus hidden-xs"})%>
                <%= submit_tag "OK", class: "btn btn-filter btn-small btn-ingredient hidden-xs"%>
          </div>
        <% end %>

          <%= form_tag recipes_path, method: :get do %>
            <div class="search-container" id="search-ingredient">
              <%= collection_select(:fooditem, :id, FoodItem.joins(:recipes).order(:name).distinct, :id, :name,
                {:prompt => "All Ingredients"},
                {:class => "form-control input-medium-plus hidden-xs"},
                )%>
                <%= submit_tag "OK", class: "btn btn-filter btn-small btn-ingredient"%>
            </div>
          <% end %>

          <%= link_to recipes_path(current_user.profile.id) do %>
            <div class="btn btn-action btn-large btn-medium-green reset-btn"><i class="fas fa-sync-alt"></i>
            </div>
        <% end %>

    </div>
  </div>
</div>

<% #<div class="container complete-form" id="filter-bar"><div class="inline-row"><%= link_to recipes_path(current_user.profile.id) do %>
  <%#<div class="btn btn-action btn-large btn-medium-green">
            RESET </i>
          </div>
        <% end %>

  <%# </div> %>
<!-- </div> -->

