<div class="container complete-form" id="filter-bar">
  <%= simple_form_for :recipes do |f| %>
    <div class="inline-row">
      <div class="inline-row filters">
        <%= f.input :diet, as: :select, prompt: 'Meal type', label: false, collection: ['meal_type1', 'meal_typ2', 'meal_type3']%>
        <%= f.input :ingredient, label: false, placeholder: 'Ingredient'%>
        <%= f.input :diet, as: :select, prompt: 'Nutrient', label: false, collection: ['nutrient1', 'nutrient2', 'nutrient3']%>
      </div>
      <div class="filter-btn">
        <%= f.button :submit, "SIGN IN", class: "btn btn-action btn-dark-green" %>
      </div>
    </div>
  <% end %>
</div>
