<div class="container complete-form" id="filter-bar">
  <%= simple_form_for :recipes do |f| %>
    <div class="inline-row">
      <div class="inline-row filters">
        <%= f.input :name, prompt: 'Recipe name', label: false, as: :select, collection: Recipe.order(:name) %>
        <%= f.input :name, prompt: 'Meal type', label: false, collection: Category.order(:name), input_html: { class: "hidden-sm hidden-xs" }%>
        <%= f.input :name, as: :select, collection: FoodItem.order(:name), label: false, prompt: 'Ingredient', input_html: { class: "hidden-sm hidden-xs" } %>

      </div>
      <div class="filter-btn">
        <%= f.button :submit, "FILTER", class: "btn btn-action btn-medium-green" %>
      </div>
    </div>
  <% end %>
</div>
