<div class="container complete-form" id="personal-info-form">
  <h2>Personal Details</h2>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :first_name, label: false, placeholder: 'Firstname'%>
    <%= f.input :last_name, label: false, placeholder: 'Lastname'%>
    <%= f.input :gender, as: :select, prompt: 'Gender', label: false, collection: ['Female','Male']%>
    <%= f.input :date_of_birth, as: :date, input_html: { class: 'input-medium' }, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:day, :month, :year] %>
    <div class="inline-row">
      <div class="inline-row">
        <%= f.input :height, input_html: { class: 'input-small' }, label: false %>
        <p>cm</p>
      </div>
      <div class="inline-row">
        <%= f.input :weight, input_html: { class: 'input-small' }, label: false %>
        <p>kg</p>
      </div>
    </div>
    <%= f.input :personal_diet, as: :select, prompt: 'Choose your diet', label: false, collection: ['diet_name1', 'diet_name2', 'diet_name3'] %>
    <div>
      <%= render 'shared/diet_card' %>
    </div>
    <%= f.button :submit, "SUBMIT", class: "btn btn-action btn-purple" %>
  <% end %>
</div>
