<div class="food-diary">

  <div class="food-diary-header">
    <h3>Food Diary</h3>
  </div>

  <div class="row food-diary-container">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to recipes_path do %>
          <div class="food-diary-card add-meal">
            <div class="add-meal-container">
              <div>
                <%= image_tag "bowl-spoon.png", height: 50 %>
              </div>
              <div class="btn btn-light-orange btn-action btn-large">
                <i class="fas fa-plus"></i>
                ADD MEAL
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to recipe_path(1) do %>
          <div class ="food-diary-card added-recipe">
            <div class="added-recipe-container">
              <div class="added-recipe-category">
                <p>Breakfast</p>
              </div>
              <div class="orange-bar">
              </div>
              <div class="added-recipe-name">
                <p class="thin">Ceasar green salad</p>
              </div>
            </div>
          </div>
        <%end%>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to recipe_path(1) do %>
          <div class ="food-diary-card added-recipe">
            <div class="added-recipe-container">
              <div class="added-recipe-category">
                <p>Breakfast</p>
              </div>
              <div class="orange-bar">
              </div>
              <div class="added-recipe-name">
                <p class="thin">Ceasar green salad</p>
              </div>
            </div>
          </div>
        <%end%>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to recipe_path(1) do %>
          <div class ="food-diary-card added-recipe">
            <div class="added-recipe-container">
              <div class="added-recipe-category">
                <p>Breakfast</p>
              </div>
              <div class="orange-bar">
              </div>
              <div class="added-recipe-name">
                <p class="thin">Ceasar green salad</p>
              </div>
            </div>
          </div>
        <%end%>
      </div>

  </div>
</div>
