<div class="recipe-tracker">
  <div class="recipe-nutrient-tracker">
    <div class="recipe-nutrient-tracker-header">
      <span>Protein</span>
    </div>
    <div class="recipe-nutrient-tracker-content-g">
      <h4>+<%= (@recipe.protein_per_portion / 1000).round %>g</h4>
    </div>
    <div class="recipe-nutrient-tracker-content-arrow">
      <%= image_tag 'thin_arrow.png', class: "recipe-tracker-arrow" %>
    </div>
    <div class="recipe-nutrient-tracker-content-bar">
      <%= render "shared/progress_bars/progress_bar_small", percentage_done: @tracker[:protein] / @personal_diet.protein_obj_personal, percentage_estimate: @recipe.protein_per_portion %>
    </div>
    <div class="recipe-nutrient-tracker-content-fraction">
      <div class="recipe-card-fraction body-small"><span><%= ((@tracker[:protein] + @recipe.protein_per_portion) / 1000).round %>g</span><span class="thin"> / <%= (@personal_diet.protein_obj_personal / 1000).round  %>g</span></div>
    </div>
  </div>

  <div class="recipe-nutrient-tracker">
    <div class="recipe-nutrient-tracker-header">
      <span>Carbohydrate</span>
    </div>
    <div class="recipe-nutrient-tracker-content-g">
      <h4>+<%= (@recipe.carbohydrate_per_portion / 1000).round %>g</h4>
    </div>
    <div class="recipe-nutrient-tracker-content-arrow">
      <%= image_tag 'thin_arrow.png', class: "recipe-tracker-arrow" %>
    </div>
    <div class="recipe-nutrient-tracker-content-bar">
      <%= render "shared/progress_bars/progress_bar_small", percentage_done: @tracker[:carbohydrate] / @personal_diet.carbohydrate_obj_personal, percentage_estimate: @recipe.carbohydrate_per_portion %>
    </div>
    <div class="recipe-nutrient-tracker-content-fraction">
      <div class="recipe-card-fraction body-small"><span><%= ((@tracker[:carbohydrate] + @recipe.carbohydrate_per_portion) / 1000).round %>g</span><span class="thin"> / <%= (@personal_diet.carbohydrate_obj_personal / 1000).round  %>g</span></div>
    </div>
  </div>

  <div class="recipe-nutrient-tracker">
    <div class="recipe-nutrient-tracker-header">
      <span>Calcium</span>
    </div>
    <div class="recipe-nutrient-tracker-content-g">
      <h4>+<%= (@recipe.calcium_per_portion / 1000).round %>g</h4>
    </div>
    <div class="recipe-nutrient-tracker-content-arrow">
      <%= image_tag 'thin_arrow.png', class: "recipe-tracker-arrow" %>
    </div>
    <div class="recipe-nutrient-tracker-content-bar">
      <%= render "shared/progress_bars/progress_bar_small", percentage_done: @tracker[:calcium] / @personal_diet.calcium_obj_personal, percentage_estimate: @recipe.calcium_per_portion %>
    </div>
    <div class="recipe-nutrient-tracker-content-fraction">
      <div class="recipe-card-fraction body-small"><span><%= ((@tracker[:calcium] + @recipe.calcium_per_portion) / 1000).round %>g</span><span class="thin"> / <%= (@personal_diet.calcium_obj_personal / 1000).round  %>g</span></div>
    </div>
  </div>

  <div class="recipe-nutrient-tracker">
    <div class="recipe-nutrient-tracker-header">
      <span>Sodium</span>
    </div>
    <div class="recipe-nutrient-tracker-content-g">
      <h4>+<%= (@recipe.sodium_per_portion / 1000).round %>g</h4>
    </div>
    <div class="recipe-nutrient-tracker-content-arrow">
      <%= image_tag 'thin_arrow.png', class: "recipe-tracker-arrow" %>
    </div>
    <div class="recipe-nutrient-tracker-content-bar">
      <%= render "shared/progress_bars/progress_bar_small", percentage_done: @tracker[:sodium] / @personal_diet.sodium_obj_personal, percentage_estimate: @recipe.sodium_per_portion / @personal_diet.sodium_obj_personal %>
    </div>
    <div class="recipe-nutrient-tracker-content-fraction">
      <div class="recipe-card-fraction body-small"><span><%= ((@tracker[:sodium] + @recipe.sodium_per_portion) / 1000).round %>g</span><span class="thin"> / <%= (@personal_diet.sodium_obj_personal / 1000).round  %>g</span></div>
    </div>
  </div>
</div>
