  <!-- BANNER for aLl screens EXCEPT MOBILES -->
<div class="banner hidden-xs" >
  <div class="banner-content">
    <div class="banner-body">
      <div class="banner-title">
        <h1>Track My Nutrients</h1>
        <div class="green-bar">
        </div>
      </div>
      <%= link_to '#image1' do %>
      <h4>Find out more</h4>
      <% end %>
      <div>
        <% if !user_signed_in? %>
          <div class="banner-btn">
            <%= link_to new_user_registration_path do %>
              <div class="btn btn-action btn-dark-green btn-large btn-margin">
              Sign up
              </div>
            <% end %>
            <%= link_to new_user_session_path do %>
              <div class="btn btn-action btn-dark-green btn-large btn-margin">
              Sign in
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- Banner on mobile only -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner" >
      <div class="banner-content-mobile">
        <div class="banner-body-mobile">
          <div class="banner-title">
            <h3>Track My Nutrients</h3>
            <div class="green-bar">
            </div>
          </div>
          <%= link_to '#image1' do %>
          <p>Find out more</p>
          <% end %>
          <div>
           <% if !user_signed_in? %>
            <div class="banner-btn">
              <%= link_to new_user_registration_path do %>
                <div class="btn btn-action btn-dark-green btn-small btn-margin">
                Sign up
                </div>
              <% end %>
              <%= link_to new_user_session_path do %>
                <div class="btn btn-action btn-dark-green btn-small btn-margin">
                Sign in
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- ALL SCREENS -->
<div class="header-white">
  <%= image_tag "logo.png", height: 100 %>
</div>

<div class="container-fluid" id="grid">

  <div class="row-1 row">
    <div class="text col-xs-12 col-sm-12 col-md-6">
       <i class="fas fa-chart-pie fas-home"></i>
       <h2>1. Check your tracker</h2>
       <p>With Track My Nutrients, you can get an overview of your daily nutritional intake to keep track of your diet.
      </p>
      <br>
      <div class="explanation">
        <div class="spots">
          <div class="spot green-spot"></div><p>  You almost completed your daily needs.</p>
        </div>
        <div class="spots">
          <div class="spot orange-spot"></div><p>  You exceeded your daily needs.</p>
        </div>
      </div>
    </div>
    <div class="image col-xs-12 col-sm-12 col-md-6" id="image1">
    </div>
  </div>

  <div class="row-2 row">
    <div class="image col-xs-12 col-sm-12 col-md-6" id="image2">
    </div>
    <div class="text col-xs-12 col-sm-12 col-md-6">
      <i class="fas fa-chalkboard-teacher fas-home"></i>
      <h2>2. See your recipes</h2>
      <p>You can choose to follow one of our three different diets. Diet-related recipes will be suggested and you can filter them according to the ingredients you have, the name or the category of the meal.</p>
    </div>
  </div>

  <div class="row-3 row">
    <div class="text col-xs-12 col-sm-12 col-md-6">
       <i class="fas fa-utensils fas-home"></i>
       <h2>3. Add a meal to your tracker</h2>
       <p>With Track My NUtrients, you can add the meal you have eaten to your food diary.<br>The tracker will automatically compute the nutrients intake of the recipe.</p>
    </div>
    <div class="image col-xs-12 col-sm-12 col-md-6" id="image3">
    </div>
  </div>

</div>

<% if !user_signed_in? %>
  <div class="header-white padding-bottom">
    <%= link_to new_user_registration_path do %>
      <div class="btn btn-action btn-dark-green btn-large btn-margin">Sign up
      </div>
    <% end %>
  </div>
<% end %>
