  <!-- BANNER for aLl screens EXCEPT MOBILES -->
<div class="banner hidden-xs" >
  <div class="banner-content">
    <div class="banner-body">
      <div class="banner-title">
        <h1>Track My Nutrients</h1>
        <div class="green-bar">
        </div>
      </div>
      <%= link_to '#image1' do %>
      <h4>Find out more</h4>
      <% end %>
      <div>
        <% if !user_signed_in? %>
          <div class="banner-btn">
            <%= link_to new_user_registration_path do %>
              <div class="btn btn-action btn-dark-green btn-large btn-margin">
              Sign up
              </div>
            <% end %>
            <%= link_to new_user_session_path do %>
              <div class="btn btn-action btn-dark-green btn-large btn-margin">
              Sign in
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- Banner on mobile only -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="banner" >
      <div class="banner-content-mobile">
        <div class="banner-body-mobile">
          <div class="banner-title">
            <h3>Track My Nutrients</h3>
            <div class="green-bar">
            </div>
          </div>
          <%= link_to '#image1' do %>
          <p>Find out more</p>
          <% end %>
          <div>
           <% if !user_signed_in? %>
            <div class="banner-btn">
              <%= link_to new_user_registration_path do %>
                <div class="btn btn-action btn-dark-green btn-small btn-margin">
                Sign up
                </div>
              <% end %>
              <%= link_to new_user_session_path do %>
                <div class="btn btn-action btn-dark-green btn-small btn-margin">
                Sign in
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- ALL SCREENS -->
<div class="header-white">
  <%= image_tag "logo.png", height: 100 %>
</div>

<div class="container-fluid" id="grid">

  <div class="row-1 row">
    <div class="text col-xs-12 col-sm-12 col-md-6">
      <div class="home-page-grid-title">
        <i class="fas fa-chart-pie fas-home"></i>
        <h2>Create your account</h2>
      </div>
      <div class="home-page-grid-content light-background">
         <p class="body">First things first, create your account on the plateform and personnalize it with your age, size and weight.</p>
         <p class="body">Then choose which diet you want to follow. You can choose between 4 different diets : High Protein, Low Carb, Low Sodium or Regular Diet if you don't want to follow a special diet.</p>
         <p class="body">Our algorithm will compute your personal diet based on your choosen diet and your measurement.</p>
         <p class="body">You can now access your dashboard and see your daily nutritional intake recommendation!</p>
      </div>
    </div>
    <div class="image col-xs-12 col-sm-12 col-md-6" id="image1">
    </div>
  </div>

  <div class="row-2 row">
    <div class="image col-xs-12 col-sm-12 col-md-6" id="image2">
    </div>
    <div class="text col-xs-12 col-sm-12 col-md-6">
      <div class="home-page-grid-title">
        <i class="fas fa-chalkboard-teacher fas-home"></i>
        <h2>Find many recipes</h2>
      </div>
      <div class="home-page-grid-content light-background">
        <p class="body">Track my nutrients gives you access to recipes related to your own diet.</p>
        <p class="body">Use the filter bar to find the one corresponding to your wish.</p>
        <p class="body">You can also create your favorite recipes and save them to your recipes list.</p>
        <p class="body">And if you don't have any idea of what your should it. Just choose one of the suggested recipe of your dashboard.</p>
      </div>
    </div>
  </div>

  <div class="row-3 row">
    <div class="text col-xs-12 col-sm-12 col-md-6">
      <div class="home-page-grid-title">
        <i class="fas fa-utensils fas-home"></i>
        <h2> Access your food diary</h3>
      </div>
      <div class="home-page-grid-content light-background">
        <p class="body">Once your meals are added to your food diary you can see the impact they had on your day.</p>
        <p class="body">The tracker will automatically compute the nutrients intake of each recipe.</p>
        <p class="body">With Track My Nutrients, you can get an overview of your daily nutritional intake to keep track of your diet!</p>
      </div>
    </div>
    <div class="image col-xs-12 col-sm-12 col-md-6" id="image3">
    </div>
  </div>

</div>

<% if !user_signed_in? %>
  <div class="header-white padding-bottom">
    <%= link_to new_user_registration_path do %>
      <div class="btn btn-action btn-dark-green btn-large btn-margin">Sign up
      </div>
    <% end %>
  </div>
<% end %>
