<h1>Styleguide</h1>

<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<p>Body</p>

<div class="container">
  <h1>Cards</h1>

  <hr>


  <%= render "shared/recipe_card" %>

  <hr>

  <%= render "shared/diet_card" %>

  <hr>

  <%= render "shared/flashes" %>

  <hr>

  <%= render "shared/food_diary" %>

  <hr>

  <%= render "shared/nutrient_tracker/suggested_recipes" %>

  <hr>

  <h2>Tracker Cards</h2>

  <hr>

  <%= render "shared/nutrient_tracker" %>

  <hr>

  <%= render "shared/recipe_tracker" %>

  <hr>

  <%= render "shared/nutrient_tracker/circle_tracker" %>

  <hr>

  <%= render "shared/nutrient_tracker/full_tracker" %>

  <hr>

  <h1>Navbar</h1>

  <hr>

  <%= render "shared/navbar" %>

  <hr>

  <h1>Forms</h1>

  <hr>

  <%= render "shared/forms/filter_bar_form" %>

  <hr>

  <%= render "shared/forms/personal_info_form" %>

  <hr>

</div>



