<div class="full-tracker">
  <div class="single-tracker">
    <h4 class="selected">Protein</h4>
    <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:protein] / personal_diet.protein_obj_personal %>
  </div>
   <div class="single-tracker">
    <h4>Carbohydrate</h4>
    <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:carbohydrate] / personal_diet.carbohydrate_obj_personal %>
  </div>
   <div class="single-tracker">
    <h4>Calcium</h4>
    <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:calcium] / personal_diet.calcium_obj_personal %>
  </div>
   <div class="single-tracker">
    <h4>Sodium</h4>
    <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:sodium] / personal_diet.sodium_obj_personal %>
  </div>
  <div class="single-tracker">
    <h4>Fat</h4>
    <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:fat] / personal_diet.protein_obj_personal %>
  </div>
    <div class="single-tracker">
     <h4>Sugars</h4>
     <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:sugars] / personal_diet.carbohydrate_obj_personal %>
  </div>
   <div class="single-tracker">
      <h4>Fibres</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:fibres] / personal_diet.calcium_obj_personal %>
  </div>
   <div class="single-tracker">
      <h4>Saturated Fat</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:fa_saturated] / personal_diet.sodium_obj_personal %>
  </div>
    <div class="single-tracker">
      <h4>Monosaturated Fat</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:fa_mono] / personal_diet.sodium_obj_personal %>
  </div>
    <div class="single-tracker">
      <h4>Polysaturated Fat</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:fa_poly] / personal_diet.sodium_obj_personal %>
    </div>
    <div class="single-tracker">
      <h4>Cholesterol</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:cholesterol] / personal_diet.sodium_obj_personal %>
    </div>
    <div class="single-tracker">
      <h4>Iron</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:iron] / personal_diet.sodium_obj_personal %>
    </div>
     <div class="single-tracker">
      <h4>Magnesium</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:magnesium] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Manganese</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:manganese] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Copper</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:copper] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Phosphorus</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:phosphorus] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Potassium</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:potassium] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Zinc</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:zinc] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Retinol</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:retinol] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Beta Carotene</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:beta_carotene] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin D</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_d] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin E</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_e] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin C</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_c] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B1</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b1] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B2</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b2] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B3</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b3] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B5</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b5] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B6</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b6] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B6</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b6] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B9</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b9] / personal_diet.sodium_obj_personal %>
     </div>
     <div class="single-tracker">
      <h4>Vitamin B12</h4>
      <%= render '/shared/progress_bars/progress_bar_large.html.erb', percentage: tracker[:vitamin_b12] / personal_diet.sodium_obj_personal %>
     </div>
</div>
