<div class="suggested-recipes" id="suggested-recipes-dashboard-page">
  <div class="suggested-recipes-header">
    <h4 class="text-center" id="suggested-recipes-title">Suggested Recipes</h4>
    <div class="suggested-recipes-header-orange"></div>
  </div>
  <div class="suggested-recipes-list" id ="suggested-recipe-content">
    <% @suggested_recipes.each do |recipe| %>
    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p class="suggested-recipe-title">
          <%= recipe.name.length < 24 ? recipe.name.capitalize : recipe.name.first(22).concat('...') %>
        </p>
        <p  class="body-small view-nutritional-impact"><%= link_to "View nutritional impact"  %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% @suggested_recipes.each do |recipe| %>
  <div class="suggested-recipes suggested-recipe-nutrient-detail hidden" >
    <div class="suggested-recipes-header">
      <h4 class="text-center" id="suggested-recipes-title"><%= recipe.name %></h4>
      <div class="suggested-recipes-header-orange"></div>
    </div>
    <div class="suggested-recipes-list suggested-recipe-nutrient-side" id ="suggested-recipe-content">
      <div class="suggested-recipe-nutrients">
        <div class="recipe-card-tracker dashboard-suggested-recipes">
          <% diet_array.each do |diet| %>
            <% if diet[:hash_name] == current_user.profile.diet.name %>
              <% diet[:nutrients].each do |nut| %>
                <% key = nut.to_sym %>
                <% value =  hash_nutrient[key] %>
                <div class="recipe-card-nutrient">
                  <p class="recipe-card-nutrient-name body-small"><%= value %></p>
                  <div class="recipe-card-impact">
                    <% key_obj_personal = "#{key}_obj_personal".to_sym %>
                    <% key_per_portion = "#{key}_per_portion".to_sym %>
                    <%= render "shared/progress_bars/progress_bar_small", percentage_done: @tracker[key] / @personal_diet[key_obj_personal], percentage_estimate: recipe[key_per_portion] / @personal_diet[key_obj_personal] %><span>+<%= ActiveSupport::NumberHelper.number_to_delimited((recipe[key_per_portion] * unit_conv[nutrients_unit[key].to_sym]).round) %><%= nutrients_unit[key]%></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="inline-row button-row">
          <div class= "suggested-recipe-card-button">
            <%= simple_form_for :added_recipe, url: added_recipes_path, method: :post do |f| %>
              <%= f.hidden_field :recipe_id, value: recipe.id %>
              <%= f.button :submit, "ADD TO FOOD DIARY", class: "btn btn-action btn-small btn-medium-green" %>
            <% end %>
          </div>
          <div class= "suggested-recipe-card-button">
            <%=link_to "SEE THE RECIPE", recipe_path(recipe), class: "btn btn-action btn-small btn-medium-green" %>
          </div>
        </div>
        <div class="inline-row button-row">
          <div class= "suggested-recipe-card-button">
            <p  class="body-small back-button">Go back to suggested recipes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



