<div class="suggested-recipes">
  <div class="suggested-recipes-header">
    <h4 class="text-center">Suggested Recipes</h4>
    <div class="suggested-recipes-header-orange"></div>
  </div>
  <div class="suggested-recipes-list">
    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <%= link_to "View", profile_recipe_path(id: 1), class: "body-small" %><span class="body-small"> | </span><%= link_to "Add",  profile_dashboard_new_path, class: "body-small" %>
      </div>
    </div>

    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <%= link_to "View", profile_recipe_path(id: 1), class: "body-small" %><span class="body-small"> | </span><%= link_to "Add",  profile_dashboard_new_path, class: "body-small" %>
      </div>
    </div>

    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <%= link_to "View", profile_recipe_path(id: 1), class: "body-small" %><span class="body-small"> | </span><%= link_to "Add",  profile_dashboard_new_path, class: "body-small" %>
      </div>
    </div>

    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <%= link_to "View", profile_recipe_path(id: 1), class: "body-small" %><span class="body-small"> | </span><%= link_to "Add",  profile_dashboard_new_path, class: "body-small" %>
      </div>
    </div>


  </div>
</div>
