<div class="progress progress-style progress-large">
  <% if percentage > 1 %>
    <div class="progress-bar progress-bar-warning progress-bar-large-round" role="progressbar"  style="width: <%= percentage * 100 %>%">
      <span class="progress-bar-label-inside-fixed"><%= (percentage * 100).round %>%</span>
    </div>
  <% elsif percentage >= 0.17 %>
    <div class="progress-bar progress-bar-success progress-bar-large-round" role="progressbar"  style="width: <%= percentage * 100 %>%">
      <span class="progress-bar-label-inside"><%= (percentage * 100).round  %>%</span>
    </div>
  <% else %>
    <div class="progress-bar progress-bar-success progress-bar-large-round" role="progressbar"  style="width: <%= percentage * 100 %>%">
      <span class="progress-bar-label-outside"><%= (percentage * 100).round %>%</span>
    </div>
  <% end %>
</div>
